@font-face {
  font-family: "GowoonDodum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: GowoonDodum;
}
